[tool.poetry]
name = "docker-image-size-limit"
version = "0.5.0"
description = ""
license = "MIT"
authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/docker-image-size-limit"

keywords = [
  "docker",
  "docker image",
  "size limit",
  "wemake.services",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/wemake-services"

[tool.poetry.scripts]
disl = "docker_image_size_limit:main"

[tool.poetry.dependencies]
python = "^3.7"
docker = ">=3.7,<7.0"
humanfriendly = ">=4.18,<11.0"
importlib-metadata = { version = "*", python = "<3.8" }

[tool.poetry.group.test.dependencies]
pytest-cov = ">=3,<5"
pytest-randomly = "^3.10"
pytest-timeout = "^1.4"
pytest = "^7.0"

mypy = "^0.982"
wemake-python-styleguide = "^0.17"
flake8-pytest-style = "^1.5"
nitpick = "^0.29"

safety = "^2.2"


[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"
