[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "docker-image-size-limit"
version = "0.2.0"
description = ""
license = "MIT"
authors = [
  "Nikita Sobolev <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/wemake-services/docker-image-size-limit"

keywords = [
  "docker",
  "docker image",
  "size limit",
  "wemake.services",
  "code quality"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.scripts]
disl = "docker_image_size_limit:main"

[tool.poetry.dependencies]
python = "^3.6"
docker = ">=3.7,<5.0"
humanfriendly = "^4.18"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.7"
pytest-randomly = "^3.1"
pytest-timeout = "^1.3"
pytest = "^5.1"

mypy = "^0.720"
wemake-python-styleguide = "^0.12.4"
nitpick = "^0.21.0"

safety = "^1.8"
